body{
    font-family: 'Roboto', sans-serif;
    background-color: #EFEFEF;
    color: #333333;
    font-size: 14px;
}

.wrapper{
    max-width: 1110px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto; /*отцентрирование*/
}

.nav{
    display: flex;
    list-style-type: none;
    justify-content: center;
    padding-left: 0;
}

.nav>li{
    margin-left: 10px;
    margin-right: 10px;
}

.nav>li>a{
    text-decoration: none;
    color: #333333;
}

.header{
    background-color: #ffffff;
    padding: 15px 0;
}

.logo{
    color: #66C05D;
    font-size: 36px;
    font-weight: 700;
    display: flex;
    align-items: center;
    letter-spacing: 4px;
}

.logo-image{
    display: block;
    width: 80px;
    height: 80px;
    background-image: url(../img/logo.svg);
    margin-right: 10px;
}

.header-info span{
    font-size: 16px;
}

.header-info button{
    font-size: 14px;
    border-radius: 40px;
    border: 2px solid #66C05D;
    background-color: transparent;
    padding: 10px 15px;
    margin-left: 20px;
    transition: 0.2s ease; /*active*/
}

.header-info button:hover{
    background-color: #66C05D;
    color: #ffffff;
}

.header-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-buttom{
    padding: 15px 0;
}

.header-buttom .nav{
    font-size: 16px;
    margin: 0;
}

hr{
    border: none;
    background-color: #EFEFEF;
    height: 1px;
}

.banner{
    background-image: url(../img/bg.png);
    padding-top: 100px;
    padding-bottom: 150px;
    color: #ffffff;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.title{
    font-size: 48px;
    font-weight: 700;
}

.banner p{
    margin-bottom: 50px;
    max-width: 308px;
}

.btn{
    color: #ffffff;
    text-decoration: none;
    font-size: 14px;
    border-radius: 40px;
    border: 2px solid #ffffff;
    background-color: transparent;
    padding: 10px 15px;
    transition: 0.2s ease; /*active*/
}

.btn:hover{
    background-color: #ffffff;
    color: #333333;
}

.bg-white{
    background-color: #ffffff;
}

.bg-green{
    background-color: #66C05D;
    color: #ffffff;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
}

.bg-green-item{
    flex: 0 0 60%;
}

.bg-green-item:last-child{
    flex: 0 0 40%;
    text-align: center;
}

.bg-green-item:last-child{
    flex: 0 0 40%;
    text-align: center;
} 

.bg-green h3{
    font-size: 18px;
    font-weight: 700;
}

.grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 0 30px;
}

.grid-item-title{
    grid-column: 1/4;
    grid-row: 1/2;
}

.grid-item-img{
    grid-column: 4/5;
    grid-row: 1/2;
    text-align: center;
}

.grid-item-left{
    grid-column: 1/3;
    grid-row: 3/4;
}

.grid-item-right{
    grid-column: 1/3;
    grid-row: 3/4;
}

.grid-item-catalog{
    text-align: center;
}

.grid-item-catalog .bg-white{
    padding: 15px 30px;
}

.grid-price{
    font-size: 21px;
    font-weight: 500;
}

.grid-btn{
    border-radius: 20px;
    border: 2px solid #66C05D;
    background-color: #66C05D;
    color: #ffffff;
    padding: 10px 25px;
    text-decoration: none;
    transition: 0.2s ease; /*active*/
    cursor: pointer;
}

.footer-bottom{
    display: flex;
    justify-content: space-between;
    color: #828282;
    padding: 15px 0;
}

.footer-bottom p{
    margin: 0;
}

.footer-bottom a{
    color: #828282;
    text-decoration: none;
}

.footer-info span{
    font-size: 16px;
    margin-left: 36px;
}

.footer-info button{
    font-size: 14px;
    border-radius: 40px;
    border: 2px solid #66C05D;
    background-color: transparent;
    padding: 10px 15px;
    margin-left: 20px;
    transition: 0.2s ease; /*active*/
}

.footer-info button:hover{
    background-color: #66C05D;
    color: #ffffff;
}

.footer-top{
    display: flex;
    justify-content: space-between;
}

.social{
    display: flex;
    align-items: center;
    list-style-type: none;
    padding-left: 0;
    
}

.social-item{
    margin-right: 20px;
}

.social-link{
    display: block;
    width: 45px;
    height: 45px;
    border: 2px solid #66C05D; 
    border-radius: 100%; 
    background-repeat: no-repeat;
    background-position: center center;  
}

.social-youtube{
    background-image: url(../img/yotube.svg);
}

.social-vk{
    background-image: url(../img/facebook.svg);
}

.social-fb{
    background-image: url(../img/vk.svg);
}

.social-instagram{
    background-image: url(../img/instagram.svg);
}

